body {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  margin: 0;
  letter-spacing: 2px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
}

header .header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header1 .header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header1 .header2 img {
  width: 128px;
  height: 45px;
  position: relative;
  top: 8px;
}

header .header1 .header2 p {
  font-size: 14px;
  padding-top: 25px;
}

header .header1 .header3 a {
  border-radius: 25px;
  padding: 15px 35px;
  line-height: 70px;
  font-style: 14px;
  background-color: #d86c67;
  color: #ffffff;
  font-weight: 300;
}

.block0 {
  height: 70px;
}

.block1 {
  background-image: url(image/main.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.block1 .main {
  padding-top: 90px;
}

.block1 .main img {
  width: 317px;
  margin-bottom: 20px;
}

.block2 {
  padding: 30px 0;
  color: white;
  background-color: #ebb94d;
}

.block2 .first .red {
  color: #d0254e;
  font-size: 18px;
  padding: 10px 4px;
  margin-bottom: 50px;
}

.block2 .first .red span {
  background-color: #f9f2f4;
  border-radius: 4px;
  font-weight: normal;
}

.block2 .contact a {
  border-radius: 50px;
  padding: 30px 300px;
  line-height: 70px;
  font-size: 28px;
  background-color: #d86c67;
  color: #ffffff;
  font-weight: 600;
  max-width: 1028px;
}

.block2 .second {
  margin-top: 50px;
}

.block2 .second p {
  margin-bottom: 40px;
}

.block2 .social a {
  background-color: #00acee;
  color: #ffffff;
  padding: 1px;
  font-size: 11px;
  border-radius: 3px;
}

.block3 {
  padding-bottom: 110px;
  background-image: url(image/introbottom.jpg);
  background-size: cover;
  background-position: center;
}

.block3 .first {
  position: relative;
}

.block3 .first h2 {
  padding: 30px 0;
  margin: 40px 0;
}

.block3 .first h2::before,
.block3 .first h2::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
}

.block3 .first h2::before {
  top: 0;
  left: 0;
  border-top: solid 5px #ebb94e;
  border-left: solid 5px #ebb94e;
}

.block3 .first h2::after {
  right: 0;
  bottom: 0;
  border-right: solid 5px #ebb94e;
  border-bottom: solid 5px #ebb94e;
}

.block3 .second p {
  font-weight: normal;
  margin-bottom: 30px;
}

.block3 .second p span {
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0, #ebb94d));
  background-image: linear-gradient(transparent 70%, #ebb94d 0);
}

.block4 {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #fef5e0;
  position: relative;
}

.block4 .about {
  width: 80px;
  height: 80px;
  background-color: #ebb94e;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.block4 .about p {
  line-height: 80px;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.block4 .first {
  position: relative;
  margin-bottom: 75px;
}

.block4 .first h2::before,
.block4 .first h2::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
}

.block4 .first h2::before {
  top: 0;
  left: 0;
  border-top: solid 5px #ebb94e;
  border-left: solid 5px #ebb94e;
}

.block4 .first h2::after {
  right: 0;
  bottom: 0;
  border-right: solid 5px #ebb94e;
  border-bottom: solid 5px #ebb94e;
}

.block4 .second {
  padding: 30px 230px 50px 230px;
  margin: 40px;
  background-color: #fff;
  border: 4px solid #ebb94d;
  border-radius: 4px;
}

.block4 .second .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.block4 .second .boxes .box {
  margin: 3px;
}

.block4 .second .boxes .box p {
  font-weight: 300;
  font-size: 12px;
}

.block5 {
  background-image: url(image/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
}

.block5 .first {
  color: #fff;
  padding-top: 60px;
}

.block5 .first span {
  color: #ebb94e;
}

.block5 .first h2 {
  margin-bottom: 30px;
}

.block5 .first p {
  margin-bottom: 20px;
}

.block5 .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block5 .boxes .box {
  background-color: #fff;
  width: 380px;
  height: 180px;
  padding: 30px;
  margin: 10px;
}

.block5 .boxes .box .step {
  background-color: #ebb94e;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 30px;
}

.block5 .boxes .box .time {
  font-size: 14px;
  margin-bottom: 20px;
}

.block5 .boxes .box .text {
  font-size: 16px;
}

.block5-plus {
  background-color: #016ea9;
  padding: 45px 0;
}

.block5-plus p {
  color: #fff;
}

.block5-plus p span {
  color: #ebb94e;
}

.block6 {
  padding: 60px 0;
}

.block6 .first h2 {
  margin-bottom: 50px;
}

.block6 .first h2 span {
  font-size: 16px;
}

.block6 .first p {
  font-weight: 300;
  margin-bottom: 30px;
}

.block6 .images {
  margin-bottom: 20px;
}

.block6 .images img {
  width: 18%;
  height: auto;
  margin: 20px;
}

.block6 .text {
  font-size: 16px;
}

.block7 {
  background-color: #fef5e0;
  padding-top: 60px;
}

.block7 .first {
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.block7 .first::before,
.block7 .first::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
}

.block7 .first::before {
  top: 0;
  left: 0;
  border-top: solid 5px #ebb94e;
  border-left: solid 5px #ebb94e;
}

.block7 .first::after {
  right: 0;
  bottom: 0;
  border-right: solid 5px #ebb94e;
  border-bottom: solid 5px #ebb94e;
}

.block7 .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.block7 .boxes .box {
  margin: 15px;
  width: 360px;
}

.block7 .boxes .box img {
  width: 360px;
}

.block7 .boxes .box p {
  text-align: left;
}

.block7 .boxes .box .title {
  font-weight: 700;
  color: #ebb94d;
  margin-bottom: 10px;
}

.block7 .boxes .box .text {
  font-weight: 300;
  font-size: 16px;
}

.block7 .second {
  background-color: #fff;
  border: 4px solid #ebb94d;
  border-radius: 4px;
  margin: 40px 0;
}

.block7 .second h2 {
  color: #ebb94d;
  margin-top: 45px;
  margin-bottom: 25px;
}

.block7 .second p {
  margin-bottom: 20px;
}

.block7 .second h4 {
  margin-bottom: 50px;
}

.block7 .third {
  padding-bottom: 60px;
}

.block7 .third p {
  font-weight: 300;
  font-size: 14px;
}

.block8 {
  background-image: url(image/teacherbg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  padding-bottom: 20px;
  color: #fff;
}

.block8 .first h2 {
  margin-bottom: 30px;
}

.block8 .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block8 .members .member {
  margin: 15px;
  width: 370px;
}

.block8 .members .member img {
  border-radius: 50%;
  position: relative;
  bottom: -35px;
}

.block8 .members .member .text {
  border: 3px solid #fff;
  padding: 40px;
}

.block8 .members .member .text p {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}

.block8 .members .member .text .left {
  text-align: left;
}

.block9-minus {
  color: #fff;
  background-color: #ebb94d;
  padding: 40px 0;
}

.block9-minus .QA {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
}

.block9-minus .QA h5 {
  line-height: 80px;
  color: #ebb94d;
}

.block9-minus h2 {
  padding: 10px 0;
}

.block9-minus .text {
  position: relative;
}

.block9-minus .text::before,
.block9-minus .text::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
}

.block9-minus .text::before {
  top: 0;
  left: 0;
  border-top: solid 5px #fff;
  border-left: solid 5px #fff;
}

.block9-minus .text::after {
  right: 0;
  bottom: 0;
  border-right: solid 5px #fff;
  border-bottom: solid 5px #fff;
}

.block9 .triangle {
  width: 50px;
  height: 50px;
  border-top: solid 50px #ebb94d;
  border-left: solid 50px transparent;
  border-bottom: solid 50px transparent;
  border-right: solid 50px transparent;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}

.block9 .set {
  position: relative;
  bottom: 50px;
}

.block9 .set .first h2 {
  margin-bottom: 10px;
}

.block9 .set .first h4 {
  margin-bottom: 30px;
}

.block9 .set .first h5 {
  font-weight: 300;
}

.block9 .set .peoples .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block9 .set .peoples .people img {
  border: 3px solid #ebb94d;
  width: 240px;
  height: 240px;
}

.block9 .set .peoples .people .text {
  padding: 20px;
  text-align: left;
  width: 500px;
  color: #777777;
  font-style: italic;
}

.block9 .set .peoples .people .text p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.block9 .set .peoples .people .text h5 {
  font-weight: 400;
  text-decoration: underline;
  -webkit-text-decoration-color: #777777;
          text-decoration-color: #777777;
}

.block10 {
  padding: 60px 0;
  background-image: url(image/classbg.jpg);
  background-size: cover;
  background-position: center;
}

.block10 .first {
  color: #fff;
}

.block10 .first h2 {
  margin-bottom: 10px;
}

.block10 .first h4 {
  margin-bottom: 30px;
}

.block10 .tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block10 .tables table {
  margin: 15px;
  width: 370px;
  border: 2px solid #016ea9;
}

.block10 .tables table th {
  color: #fff;
  background-color: #016ea9;
  font-size: 20px;
  padding: 15px;
}

.block10 .tables table td {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 15px 0;
}

.block10-plus {
  padding: 40px;
  color: #fff;
  background-color: #016ea9;
}

.block11 .first {
  padding-bottom: 30px;
}

.block11 .first h2 {
  padding: 60px;
}

.block11 .boxes {
  padding-bottom: 40px;
}

.block11 .boxes .flowline {
  margin-bottom: -7px;
}

.block11 .boxes .box {
  padding: 10px 35px;
  margin: 0;
  border-radius: 10px;
  background-color: #fef5e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block11 .boxes .box .left {
  margin: 30px 0;
  width: 350px;
}

.block11 .boxes .box .right {
  text-align: left;
  padding: 30px 10px;
}

.block11 .boxes .box .right h5 {
  font-weight: 300;
}

.block12 {
  color: #fff;
  padding: 90px 0;
  background-image: url(image/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
}

.block12 .container {
  text-align: left;
}

.block12 .container .first h5 {
  font-weight: 300;
}

.block12 .container ul {
  padding: 20px;
}

.block12 .container ul h4 {
  padding: 5px;
}

.block13 {
  padding: 20px 0;
  background-color: #f7c23c;
}

.block13 .first {
  color: #000;
  margin-bottom: 60px;
}

.block13 .first h2 {
  margin: 40px;
}

.block13 .first h4 span {
  color: #fff;
}

.block13 .second {
  background-color: #f7c23c;
  position: relative;
  bottom: -25px;
  width: 56%;
  margin: 0 auto;
}

.block13 .circles {
  border: solid 3px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block13 .circles .circle {
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 50%;
  margin: 50px;
  position: relative;
}

.block13 .circles .circle .text {
  width: 90%;
  position: absolute;
  bottom: 70px;
  left: 15px;
}

.block13 .circles .circle .text h2 {
  color: #f7c23c;
  margin-bottom: 10px;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */